
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@900&family=Ubuntu:ital@1&display=swap'); 
 *{
     color: aliceblue;
 }
 img{
     width: 20px;
     border-radius: 50%;
 }
 .p1{
     font-size: 40px;
 }
 .login{
    background-color:rgba(48, 14, 1, 0.7);
    padding:50px;
    border-radius:20px
 }
 .login:hover{
    background-color:rgba(24, 7, 0, 0.7);
 }
input{
    color: black;
}
a{
    text-decoration: none;
    color: #aaa;
    font-size: 20px;
}
button{
    width: 300px;
}
 